@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.image-generator {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}

.image-generator .content {
    color: white;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
}

.image-generator h1 {
    font-size: 2.35rem;
    font-weight: bolder;
}

.image-generator p {
    font-size: 1.35rem;
    margin-top: 10px;
}

.image-generator .generate-form {
    height: 56px;
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
}

.generate-form .prompt-input {
    width: 60%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}

.generate-form .controls {
    display: flex;
    height: 100%;
    gap: 15px;
}

.generate-form .img-quantity {
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
}

.generate-form .generate-btn {
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    border-radius: 30px;
    background: #4949E7;
    padding: 0 25px;
    cursor: pointer;
}